// Place all the styles related to the makes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.FousOnPanle{
	background:#DDA0DD;
	font-family:"Trebuchet MS"
}
.FousOnPanle:houver{
	background:#FF1493;	
	font-family:"Trebuchet MS"
}
.Cinza{
	background:#D3D3D3;
	font-family:"Trebuchet MS"
}
.RosaClaro{
	background:#FF69B4;
	font-family:"Trebuchet MS"
}
.Confirmado{
	font-family:"Trebuchet MS"
}